[Unit]
Description=Simple systemd service for GNCFD discovery demo discovery service startup.

[Service]
Type=simple
User=ec2-user
Group=ec2-user
EnvironmentFile=/home/ec2-user/.bash_profile
WorkingDirectory=/home/ec2-user/GNCFD_demos/peers_discovery
ExecStart=/bin/bash -i -c 'go run -tags release server/serverMain.go'

[Install]
WantedBy=multi-user.target